/* header */
.header {
  grid-area: header;
  background-color: rgb(44, 66, 82);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.logo {
  width: 40px;
}
.loginBlock {
  color: #fff;
}
