.user {
    display: flex;
    align-items: center;
}

.avatar {
    margin-right: 40px;
}
.avatar img {
    width: 200px;
}

.status {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
