.app-wrapper {
  display: grid;
  grid-template-areas:
    "header header"
    "nav content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}
a {
  text-decoration: none;
  color: #fff;
}

.users{
  display: flex;
  padding: 20px;
}
.avatarFollow img{
  width: 80px;
}
.avatarFollow button{
  display: block;
}

.userInfo{
  width: 100%;
  margin-left: 50px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  border: 1px solid rgb(56, 94, 81);
  padding: 20px;
  border-radius: 20px;
}